extends lib/hd_pug/base.pug

block title
    //- 重写title块

block meta
    //- 重写meta块

block icon
    //- 重写icon块
    //- icon快捷设置icon请求路径
    +icon("#")

block css
    //- 重写css块
    //- css快捷设置css文件请求路径
    +css("#")

block style
    //- 重写style块

block wrap_before
    // 可以通过#wrap获取到该对象
    //- wrap内部之前，与header,main,footer同级

block header
    //- 拥有公共类.sd_wrap可以实现样式
    //- 重写header块，一般用于存放头部内容的块

block main
    //- 拥有公共类.sd_wrap可以实现样式
    //- 重写main块，一般用于存放主要内容的块

block footer
    //- 拥有公共类.sd_wrap可以实现样式
    //- 重写footer块，一般用于存放底部内容的块

block wrap_after
    // 可以通过#wrap获取到该对象
    //- wrap内部之后，与header,main,footer同级

block aside
    //- 重写aside块，一般用于存放不在布局之内内容的块，如弹出框

block js
    //- 重写js块
    //- js快捷设置js文件请求路径
    +js("#")

block script
    //- 重写script块