body, ol, ul, li, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select {
    padding: 0;
    margin: 0;
}

body {
    font-family: -apple-system-font, Helvetica Neue, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

ul, ol, dl {
    list-style: none;
}