<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>常用阴影</title>
    <style>

        div {
            font-size: 36px;
            font-weight: bold;
            width: 480px;
            height: 223px;
            line-height: 223px;
            text-align: center;
            color: #333333;
            margin: 25px auto;
        }

        .div1 {
            background: white;
            box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
        }

        .div2 {
            background: white;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
        }

    </style>

</head>
<body>
<div class="div1">阴影</div>
<div class="div2">阴影</div>
</body>
</html>