.clear-all() {
  .all-mp0();
  li {
    #hd > .clear-li();
  }
  img {
    #hd > .clear-img();
  }
  input {
    #hd > .clear-input(false);
  }
  a {
    #hd > .clear-a();
  }
}

.all-mp0() {
  body, ol, ul, li, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select {
    #hd > .clear-mp();
  }
}

#hd {
  .clear-mp() {
    margin: 0;
    padding: 0;
  }

  .clear-li() {
    list-style: none;
  }

  .clear-img() {
    border: 0;
    vertical-align: top;
  }

  .clear-input(@all) when (@all=false) {
    vertical-align: top;
  }

  .clear-input(@all) when (@all=true) {
    vertical-align: top;
    outline: none;
    border: none;
    box-shadow: none;
    background-color: transparent;
  }

  .clear-a() {
    text-decoration: none
  }

  .clear-wrap() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .clear-fix() {
    &:after {
      content: "";
      display: block;
      height: 0;
      visibility: hidden;
      clear: both;
    }
  }
}
